#sidebar {
	background: var(--clr-primary);
	color: var(--clr-light);
	width: 18rem;
	min-height: 100vh;
	box-shadow: var(--box-shadow);

	transition: transform 0.3s ease-in-out;
}

#sidebar .navigation-btns {
	padding: 2rem 1rem;

	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	gap: 0.8rem;

	position: sticky;
	top: 0;
}

#sidebar .logo {
	color: var(--clr-light);
	font-size: var(--font-size-800);
}

#sidebar ul li {
	margin-bottom: 0.2rem;
}

/* --Sidebar Buttons-- */
#sidebar .sidebar-btn {
	background: transparent;
	color: var(--clr-light);
	border-radius: var(--border-radius);
	transition: box-shadow 0.2s ease;
}

#sidebar .sidebar-btn:focus {
	outline: 0;
	box-shadow: var(--button-box-shadow-light);
}

#sidebar .sidebar-btn:not(.slider-btn, .add-project-btn) {
	width: 100%;
	text-align: left;
}

#sidebar .sidebar-btn:hover:not(.slider-btn, .add-project-btn) {
	background: var(--clr-overlay-3);
}

#sidebar .slider-btn {
	display: none;
	align-self: flex-start;
}

#sidebar .inbox-btn,
#sidebar .notes-btn {
	position: relative;
}

/* Number of todos/notes for each section */
#sidebar .project-btn::after,
#sidebar .inbox-btn::after,
#sidebar .notes-btn::after {
	content: attr(data-content);
	color: var(--clr-grey);

	position: absolute;
	right: 15px;
}

#sidebar .buttons-list {
	margin: 2rem 0;
}

/* Projects Buttons */
#sidebar .my-projects-wrapper {
	position: relative;
	margin-bottom: 0.5rem;
}

#sidebar .my-projects-btn {
	font-weight: 700;
	padding-left: 0.5rem;
}

#sidebar .add-project-btn {
	position: absolute;
	top: 4px;
	right: 5px;
	padding: 0;

	transition: all 0.15s ease-in-out;
}

#sidebar .add-project-btn:hover {
	transform: scale(1.5);
}

#sidebar .add-project-btn:focus {
	box-shadow: none;
	color: var(--clr-secondary);
}

#sidebar .project-btn {
	position: relative;
}

#sidebar .project-btn::before {
	content: "# ";
	color: var(--clr-secondary);
}

/* JS CLASSES */

#sidebar.active {
	transform: translateX(0);
}

/* Selected button  */
#sidebar .sidebar-btn.active {
	background: var(--clr-overlay-2);
}

#sidebar .sidebar-btn.active:hover {
	background-color: var(--clr-overlay-2);
}
