@import "./css/reset.css";
@import "./css/utility-classes.css";
@import "./css/sidebar.css";
@import "./css/list.css";

/* VARIABLES */
:root {
	--ff-body: "Inter", sans-serif;

	--font-size-200: 0.694rem;
	--font-size-300: 0.833rem;
	--font-size-400: 1rem;
	--font-size-500: 1.2rem;
	--font-size-600: 1.44rem;
	--font-size-700: 1.728rem;
	--font-size-800: 2.074rem;
	--font-size-900: 2.488rem;
	--font-size-1000: 2.986rem;

	--clr-primary: #306a79;
	--clr-secondary: #ffbb01;
	--clr-dark: #242020;
	--clr-grey: #d8d8d8;
	--clr-grey-2: #a9a9a9;
	--clr-light: #fff;
	--clr-red: #b70000;
	--clr-purple: #a500be;

	--clr-overlay: rgb(0, 0, 0, 0.85);
	--clr-overlay-2: rgba(32, 47, 48, 0.522);
	--clr-overlay-3: #e3fdfd53;

	--box-shadow: 0px 5px 15px 0 rgba(0, 0, 0, 0.8);

	--button-box-shadow-light: 0 0 0 2px rgba(255, 255, 255, 0.635);
	--button-box-shadow-dark: 0 0 0 2px rgba(0, 0, 0, 0.7);

	--border-radius: 8px;
	--border-radius-2: 50%;
	--border-radius-3: 50px;
}

/* GENERAL STYLES */
html {
	scrollbar-width: thin;
	scrollbar-color: var(--clr-primary) var(--clr-grey);
	scroll-behavior: smooth;
}

body {
	font-family: var(--ff-body);
	color: var(--clr-dark);
	display: flex;
}

main {
	flex: 1;
}

p,
h1,
h2,
h3,
h4 {
	color: var(--clr-dark);
}

h1 {
	font-size: var(--font-size-1000);
}

h2 {
	font-size: var(--font-size-900);
}

h3 {
	font-size: var(--font-size-800);
}

h4 {
	font-size: var(--font-size-700);
}

button {
	display: inline-block;
	cursor: pointer;
	border: none;
	padding: 0.3em;
}

button:active {
	opacity: 0.8;
}

i {
	font-size: inherit;
	margin: 0 0.3rem;
}

input[type="date"],
select {
	padding: 0.2em 0.5em;
	margin-right: 1rem;
	border: 1px solid var(--clr-grey-2);
	border-radius: var(--border-radius);
}

input[type="date"]:focus,
select:focus {
	outline: none;
	box-shadow: var(--button-box-shadow-dark);
}

input[type="date"] {
	margin-bottom: 0.5rem;
}

label {
	font-weight: 500;
	margin-right: 0.5rem;
	opacity: 0.8;
}

/* MEDIA QUERIES */
@media only screen and (max-width: 768px) {
	.container {
		padding-left: 5rem;
		width: min(95%, 80rem);
	}

	/* --Sidebar-- */
	#sidebar {
		position: fixed;
		z-index: 2;
		transform: translateX(-14rem);
	}

	#sidebar .slider-btn {
		display: block;
	}
}
